{% extends "ccca/ccca.html" %}
{% block content %}
    <div id="mid-sep">
        <span id="box-text">공지</span>
        <div id="box">
            <div id="box-content">
                {{ testdata }}
            </div>
            <div id="box-content"></div>
            <div id="box-content"></div>
        </div>
    </div>
    <div id="mid-sep">
        <span id="box-text">자료</span>
        <div id="box">
            <div id="box-content"></div>
            <div id="box-content"></div>
            <div id="box-content"></div>
        </div>
    </div>
    <div id="mid-sep">
        <span id="box-text">과제</span>
        <div id="box">
            <div id="box-content"></div>
            <div id="box-content"></div>
            <div id="box-content"></div>
        </div>
    </div>
{% endblock %}