{% extends "ccca/ccca.html" %}
{% block content %}
    <div id="mid-sep-c">
        <span id="mid-category-text">수업 자료</span>
        <button id="mid-category-btn">
            <span id="mid-btn-text">과목 선택</span>
        </button>
    </div>
    <div id="mid-sep-content">
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
        <div id="mid-items"></div>
    </div>
{% endblock %}