{% extends "base.html" %}
{% block content %}
  <div id="super-div">
    <div id="top">
      <span id="logo_name">CNU</span>
      <span>사이버 캠퍼스 알리미</span>
    </div>
    <div id="img-div">
      <img src="../../static/images/logo.png" alt="시계">
    </div>
    <div id="middle">
      <input type="text" placeholder="STUDENT NUMBER" id="id-input">
      <input type="password" placeholder="PASSWORD" id="pwd-input">
      <button id="login-btn">로그인</button>
    </div>
    <div id="bottom">
      <button id="sign-up-btn">회원가입</button>
    </div>
  </div>
{% endblock %}